.git
.github
.gitignore
.vscode
.next
node_modules
*/node_modules
**/*.swp
**/*.tsx~
**/*.swn
**/*.swo
*.log
*.tmp
*.plain
*.secret
*.gz
*.map
*.tar.gz
*.local
.secret
.circleci
docker-compose.yml
gulpfile.js
.tern-project
.snyk
.vagrant
Vagrantfile
tmp
build
modules
docs
!.env.local
Dockerfile
.dockerignore
