.FooterWrap {
  background-color: #333333;
  padding: 60px 40px;
}

.Footer {
  color: white;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}

.Footer p {
  margin: 6px;
}

@media (max-width: 800px) {
  .FooterWrap {
    background-color: #333333;
    padding: 30px 40px;
  }
  .Footer {
    text-align: left;
  }
  .Footer p {
    margin: 15px 6px;
  }
}
